extends ../layout/_modal

append config
  - var modal_id = "member-rule"

block page-modal-title
  h1 小院會員規範


block page-modal-wapper
  .text
    h2 著作權約款
    ol
      li 會員在小院網站、姥姥臉書及相關部落格等虛擬平台上，所為提問、貼文、或以其他方式提供之文字/影音圖像等，均視為無條件同意授權<小院網站>可永久免費可重覆使用在部落格、書籍和網站上。
      li 會員同意擔保對提供圖文擁有完整著作權，並擔保無違背著作權法及現行各項相關法規之規定，無重製、改作、抄襲、仿冒或其他侵害他人權益之情事。提供圖與文若有使用他人之著作，均符合著作權法相關授權規定。
      li 如有前述情事致第三人追訴時，會員應自負法律責任。如因此致第三人向<小院網站>追訴相關權利，會員同意承擔<小院網站>因此所受損失賠償請求之所有責任。
      li 會員同意<小院網站>得對提供圖文內容進行增、刪、潤飾、調整、編輯、修改之權。
      li <小院網站>將盡全力來確保資訊的正確性及完整性，但相關資訊僅提供參考，而不負擔任何形式的保證責任及任何明示或默示的擔保責任。
  .text
    h2 隱私保障約款
    ol
      li 對於會員登錄或留存之個人資料，除下列情況外，<小院網站>未得會員同意前，不對外揭露您之姓名、地址、電子郵件地址及其他依法受保護之個人資料：
        ol
          li 基於法律之規定；
          li 受司法機關或其他有權機關基於法定程序之要求；
          li 為保障<小院網站>或旗下相關行號之財產及權益；
          li 在緊急情況下為維護其他會員或第三人之生命或財產安全。
      li 會員登錄或留存之個人資料，均同意<小院網站>及關係企業或合作對象，得於合理之範圍內蒐集、處理、保存、傳遞及使用該等資料，以提供使用者其他資訊或服務、或作成會員統計資料、或進行調查或研究，或商業行銷活動，或為任何之合法使用的其他服務。
  .text
    h2 違規罰則與解約約款
    ol
      li 凡未經授權或同意逕在<小院網站>刊登活動訊息或廣告文者，均視為同意支付本網站10萬元廣告費用；該訊息刊登期為一日，若於刊登日起3天內未支付款項，本網站將依法追訴民事相關責任。
      li <小院網站>保留隨時更改會員規範，或隨時更改或停止各項服務內容，或終止任一會員帳戶服務之權利，且無需事先通知。就停止或更改服務或終止服務所可能致生任何會員或第三人之困擾、不便、損害，均不負任何責任。    p.text-m--l (二)受司法機關或其他有權機關基於法定程序之要求；
