extends ../layout/_modal

append config
  - var modal_id = "require-login"

block page-modal-wapper
  .notice
    h3 螢幕前的俠女或俠客您好：
    p 您已看了數篇小院文章了，應是覺得我們寫得還行。不過小院文章只給會員看，所以想勸您加入小院吧，不然將無法再看到這些家居界的內幕與八卦。
    p.sign 小院創辦人姥姥  敬邀
  include ../partial/_page_login_section
