extends ../layout/_modal

append config
  - var modal_id = "forget_password"

block page-modal-wapper
  p 忘記密碼?
  input.input.input-primary(type="text" placeholder="信箱")
  botton.btn.btn-modal#send-password 寄出重設密碼
  .clear-both
