aside#aside(class="t-middle-gray p-#{aside_position}")
  .container
    .side-module.side-bulletin
      .hd.h2 公告
      .bd
        p 這張照片人家是介紹BDDW 紐約家具品牌做的床頭板，實木厚板，低高度，表面處理即佳，還有真皮（在哪我怎麼都看不到？）
    .side-module.side-comments
      .hd.h2 最新回應
      .bd
        ul
          li: a(href="#") 白白斑駁的紅磚牆如何做？ <span class="author">earth wind & fire</span>
          li: a(href="#") 我家沒客廳 <span class="author">jackson5</span>
          li: a(href="#") 白白斑駁的紅牆如何做？ <span class="author">yunbae</span>
          li: a(href="#") 白白斑駁的紅牆如何做？ <span class="author">ekeko</span>
          li: a(href="#") 白白斑駁的紅牆如何做？ <span class="author">ekeko</span>
          li: a(href="#") 白白斑駁的紅磚牆如何做？ <span class="author">earth wind & fire</span>
          li: a(href="#") 白白斑駁的紅磚牆如何做？ <span class="author">earth wind & fire</span>
          li: a(href="#") 我家沒客廳 <span class="author">jackson5</span>
          li: a(href="#") 白白斑駁的紅牆如何做？ <span class="author">yunbae</span>
          li: a(href="#") 白白斑駁的紅牆如何做？ <span class="author">ekeko</span>
          li: a(href="#") 白白斑駁的紅牆如何做？ <span class="author">ekeko</span>
    .side-module.side-weekly
      .hd.h2 每週一物
      .bd
        a(href="#")
          .cover: img(src="/images/weekly-obj.jpg")
          .name New Breed Desk With Cubby
        p 這張照片人家是介紹BDDW 紐約家具品牌做的床頭板，實木厚板，低高度，表面處理即佳，還有真皮（在哪我怎麼都看不到？）
    .side-module.side-book
      .hd.h2 書籍推薦
      .bd
        a(href="#")
          img(src="/images/book.jpg")
          .name 好的設計沒那麼貴
        p 我的書，克制不住就是想買或忽然善心大發想贊助的人都請按照片
