nav#category_neighbors.site-navigation.category-navigation
  h1.assistive-text.hide Category navigation
  .clearfix
    .neighbor.neighbor-previous
      a(href="#")
        i.fa.fa-chevron-left
        | Older Posts
    .neighbor.neighbor-next
      a(href="#")
        | Newer Posts
        i.fa.fa-chevron-right
