ul.social-links
  li: a(href="#"): i.fa.fa-envelope
  li: a(href="#" target="_blank"): i.fa.fa-facebook-square
  li: a(href="#" target="_blank"): i.fa.fa-twitter-square
ul.language-selector
  li(data-lng="en"): a(href="/") EN
  li(data-lng="jp"): a(href="/jp/") 日文
  li(data-lng="zh_tw"): a(href="/zh_tw/") 繁中
nav.menu
  ul
    li: a(href=base)= pages.home
    li: a(href="#{base}faq.html")= pages.faq
    li: a(href="#{base}media.html")= pages.media
