.carousel
  .slide(style="background-image: url(images/slide.jpg)")
    .text
      h2  好宅／裝修觀念
      p 家在成型的過程中，在什麼要做與什麼不要做之間，就是一場自我的摸索與掙扎。我希望大家在找設計師或工班之前，能先打開視野，看看更多元的設計觀點。例如一個家絕不是只有三房兩廳的格局，又例如通風與隔熱的設計，從裝修之前到法律、格局、省錢做法、照明、隔熱、健康宅的議題，都可以在這裡看到。
