- var id = modal_id
.login-wapper.text
  .social-login.col-sm-6
    h3 用社群網站登入
    button.btn.btn-google
      i.fa.fa-google-plus
      | 用 Google 登入
    button.btn.btn-fb
      i.fa.fa-facebook
      | 用 Facebook 登入
    button.btn.btn-weibo
      i.fa.fa-weibo
      | 用微博登入
  if id == "login"
    .email-login.col-sm-6
      h3 用 e-mail 登入
      input#singup-email.input.input-primary(type="text" placeholder="信箱")
      input#singup-password.input.input-primary(type="text" placeholder="密碼")
      p.to-forget-password
         a(href="./forget_password.html") 忘記密碼?
      .btn.btn-modal 登入
  if id == "require-login"
    .email-sign-up.col-sm-6
      h3 用 e-mail 註冊
      input#singup-email.input.input-primary(type="text" placeholder="信箱")
      input#singup-password.input.input-primary( type="text" placeholder="密碼")
      input#singup-nick.input.input-primary( type="text" placeholder="行走江湖的稱號")
      label.agree-rules
        input(type="checkbox")
        span
          | 我同意小院
          a(href="./member_rule.html" target="_blank") 會員規範
      .submit-singup
        button.btn.btn-modal(type="submit") 加入會員
        a.to-email-login(href="login.html" ) 我已有帳號，用 e-mail 登入
  .clearfix

