article.post.t-light-blue
  .hd
    img.pull-right(src="/images/pic3.jpg" alt="")
    .text
      .date 2014.11.30
      h1 幾種掛燈的方式
      .meta.small
        .category
          a(href="/category/1.html") 好宅
          a(href="/category/1.html") 照明
          a(href="/category/1.html") 觀點
        ul.tags
          li.inline-block: a(href="#") tag
          li.inline-block: a(href="#") tag2
          li.inline-block: a(href="#") tag3
  .bd
    p 上次我po了建築師柯比意阿伯的愛燈後，許多網友問：這適不適合當閱讀燈啊？當然適合。只要是散射型燈泡，就適合當閱讀燈。 為了省電，我曾經鑽進照明的世界自閉地過了一段日子。當時曾提出晚上不要太亮的看法，也曾對各式燈泡做了一些粗淺的研究（請按這裡，比較表也不小，現在回頭看那篇文章，實在寫得太硬太像石頭了，當初編輯怎麼沒有叫我加些笑話呢？）
    p 好，那篇文章是設計界的人再點進去看，一般人就看我現在要寫的結論就好。燈泡分兩派主流，依照光線走的方式，一是散射型的螢光燈系，t5、省電燈泡屬這派；一是直射型的LED燈系，LED、mr16就是這派的。直射型的燈泡就是明亮的差距會比較大，像mr16，可以創造地上一圈光圈，這種散射型燈泡就做不到。
    p 根據國泰醫院眼科醫師梁怡珈表示，看電視或看書時，燈光與背景光的反差不要太大，不然眼睛反而易累。所以柔和均勻的光線會比明暗分明的光源好。理論上來看，採用散射型的省電燈泡燈光會較LED柔和，所以看書要用省電燈泡或t5。好，實際上呢？姥姥最愛做實驗了，來看我的實驗結果。以下照片都是相機固定在焦距5.1、光圈2.2、快門1／60秒，書本距離燈源50公分處拍的，但因有的我拍到某人的大腿，怕傷了大家的眼，因此部分有裁切。
    .clearfix
      img.pull-left(src="/images/post1.jpg")
      p 這是5瓦LED燈泡，未加遮光片，因為是直射燈光，炫光會比較嚴重。因為光圈開較大，所以這張頗亮，但實際上是不會那麼亮的，只是真的會炫光。有一陣子，我家阿等的燈就用MR16，看了一陣子書後，我和老公都覺得眼睛比較容易累。
    .clearfix
      img.pull-left(src="/images/post2.jpg")
      p 這是Tizio LED燈，8瓦的LED燈，有加遮光片，比起前一張沒有加遮光片，柔和許多；但我也有試過其他燈具有加遮光片的，有的還是會較刺眼。我不確定是LED燈條的品質關係，還是義大利Artemide真的做得比較好嗎？但後來有位燈泡界的達人跟我說，這跟燈泡無關，炫不炫光是受燈具的影響。
    .clearfix
      img.pull-left(src="/images/post3.jpg")
      p 這是12瓦省電燈泡，沒有加遮光片，卻炫光程度最少，照片看起來比較暗，但實際上也沒有，跟上一張的亮度是差不多的。我是長時間使用電腦的，也會長時間閱讀，我的經驗是散射型的省電燈泡在柔和度上，是勝過LED的。
    p 以上這幾支的流明都在500以上，符合閱讀亮度的要求。但之前有網友提出：LED更省電，也耐久啊？是的，不過在閱讀上，我個人會把舒適度放在省電與耐久之前。省電燈泡其實一個也只會用不到0.5 a的電量，應該還是算省電的，6000小時使用時間來看，每天8小時，也可用25個月，算入光衰，1年半換一次燈泡，我是覺得也還好。
    p 這是我的實驗結果，供大家參考。
    hr
    h2 後記
    p 那本當道具的書，就是「這樣裝潢省大錢」，名字俗了點，blog上照明相關文章都是出自書裡，而且書本身還用較不易炫光的紙，姥姥現在能寫那麼多「沒人會給錢」的文章，就是靠書在養，若希望看到我寫更多無聊八卦文，想贊助的人，可以買一本，按這裡。感恩。
    hr
    h2 201405後記 - 有網友問，那什麼色溫的燈泡較適合閱讀？
    p 一般是認為藍光（色溫高）會對眼球的黃斑部傷害較大，但那個前提是「看著藍光」，像玩手機或看電腦，長時間下來眼睛易受傷害。但閱讀是看書，所以還好的，燈泡我們不會一直看著他，最多是反射性光源，若是反射性的藍光就不會對人眼產生傷害。所以，燈泡的色溫以「對眼睛」的傷害來說，只要1.不是長時間 + 2.沒有近距離，不用考慮太多，但是色溫會影響人體內分泌，所以色溫低的黃燈對健康較佳。可參考這篇文章。
