nav#neighbors.site-navigation.post-navigation
  h1.assistive-text.hide Post navigation
  .clearfix
    .neighbor.neighbor-previous(style="background-image: url('/images/pic1.jpg')")
      a(href="#")
        h2
          i.fa.fa-chevron-left
          | 收納櫃飄浮在空中的15坪夾層小屋
    .neighbor.neighbor-next(style="background-image: url('/images/pic2.jpg')")
      a(href="#")
        h2
          | 省錢衣櫃2：舊櫃子＋外框拉門
          i.fa.fa-chevron-right
