.page-modal
  width: 100%
  height: 100vh
  .page-modal-container
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    margin-top: 5%
    .page-modal-title
      text-align: center
      padding-bottom: 30px
    .page-modal-wapper
      max-width: 720px
      border-radius: 5px
      box-shadow: 0 0 4px rgba($black, 0.3)
      background-color: $white
      margin: 0 auto
      width: 80%
      padding: 30px
      h2, h3
        font-weight: 700
      p
        margin-top: 5px
      .text
        padding: 15px 0 15px 0
      .notice
        background-color: $light-browen
        padding: 20px
        border-radius: 5px
      .input
        width: 100%
      .btn, input
        margin-top: 15px
    .footer-logo
      margin-top: 30px
      margin-bottom: 30px

#login, #require-login
  .page-modal-wapper
    width: 70%
  .social-login
    .btn
      text-align: left
      width: 80%
      .fa
        margin: 0 35px 0 5px
        width: 0
        +font-size(large)
  .email-sign-up
    border-left: 0px solid $lightest-gray
    padding-top: 30px
    +sm-tablet
      padding-top: 0px
      border-left: 1px solid $lightest-gray
  a
    text-decoration: underline
#login
  .email-login
    height: 300px
    border-left: 0px solid $lightest-gray
    height: auto
    .to-forget-password
      text-align: right
      a
        +font-size(small)
        text-decoration: none
    +sm-tablet
      border-left: 1px solid $lightest-gray

#require-login
  .sign
    color: $lightest-gray
    text-align: right
    margin-top: 50px
    +font-size(x-small)
  .agree-rules
    display: block
    span
      margin-left: 10px
  .submit-singup
    .btn
      margin-top: 0
    vertical-align: middle
    margin-top: 15px
  .to-email-login
    vertical-align: middle
    margin-left: 10px
    text-decoration: underline
    white-space: nowrap
  .notice
    margin-bottom: 15px

#forget-password
  .page-modal-wapper
    border-radius: 8px
    width: 330px
    p
      font-weight: 700
  .input
    margin-top: 15px
    width: 100%
    float: right

#member-rule
  li
    margin-left: 25px
  ol
    > li
      list-style-type: decimal
    ol > li
      list-style-type: cjk-ideographic
