extends layout/_default

block main
  include partial/_index_carousel.jade

  - var section = index.news
  include partial/_index_post_list.jade

  - var section = index.popular
  include partial/_index_post_list.jade

  - var section = index.product
  include partial/_index_post_list.jade

block aside
  - var position = bottom
  include partial/_aside
