=btn($color)
  $darken: darken($color, 5)
  background: $color
  border-color: $color
  &:hover
    background: $darken
    border-color: $darken

.btn
  &.btn-modal, &.btn-fb, &.btn-google, &.btn-weibo
    color: $white
    padding: 10px
  &.btn-primary
    +btn($btn-blue)
  &.btn-modal
    +btn($courcasa-blue)
    min-width: 100px
  &.btn-fb
    +btn($fb-blue)
  &.btn-google
    +btn($google-grean)
  &.btn-weibo
    +btn($weibo-blue)
