extends ../layout/_default

block header

block footer

block outside
  .page-modal
    .page-modal-container(id="#{modal_id}")
      .page-modal-title
        block page-modal-title
      .page-modal-wapper
        block page-modal-wapper
      .footer-logo
        .text-center
          a(href="/"): img.logo(src="/images/logo.svg" width="64" height="64")
          p courcasa©2015 all rights reserved.
